:root{
    --margin: 2%;
    --padding: 1%;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}
  
.container {
    overflow: hidden; 
}
  
.container:after {
    content: "";
    display: table;
    clear: both;
}

#top, #bottom, #content {
    text-align: center;
    margin: var(--margin);
    /* padding: var(--padding); */
}
  
#top {
    background-image: url("assets/img/Header.jpg");
    background-size: cover;
    text-align: center;
    background-color: grey;
    background-blend-mode: multiply;
    /* position: relative; */
}

#header-title{
    padding-top: 14%;
    font-size: 4rem;
    width: 40%;
    margin: auto;

    position: relative;
    animation: myfirst 15s 1;
    animation-direction: alternate;
}

@keyframes myfirst {
    0%   {color: rgb(50, 44, 165); left: -80%; top: 0px;}
    25%  {color: rgb(255, 255, 255); left: 0px; top: 0px;}
  }

#header-text{
    font-size: 2rem;
    width: 40%;
    margin: auto;
    margin-top: 3%;
}

#header-title, #header-text{
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    /* padding: 5%; */

}

.header-button{
    background-color: #ffffff;
    color : #6e6e6e;
    width: 20%;
    margin: 3% auto 10% auto;
    padding: 1%;
    border-radius: 25px;
    text-transform: uppercase;
    font-family: 'Verdana', sans-serif;
}


.header-button {
    width: 20%;
    margin: 3% auto 10% auto;
    padding: 1%;
    text-transform: uppercase;
    font-family: 'Verdana', sans-serif;
    transition: all 0.5s;
    cursor: pointer;
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    background-color: transparent;
    border: 3px solid #ffffff;
    border-radius: 50px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #ffffff;
}
  
.header-button{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.header-button:after {
    content: '↓';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
}
  
.header-button:hover{
    padding-right: 24px;
    padding-left:8px;
    box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
    border: 3px solid #00d7c3;
    color: #00d7c3;
}
  
.header-button:hover:after {
    opacity: 1;
    right: 10px;
}













  
#content {
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.52), 
    rgba(52, 80, 164, 0.53), rgba(59, 10, 94, 0.73)),url("assets/img/Background.jpg");
    overflow: auto;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 6%; 
}

.calc4{
    /* width: calc(16%); */
    float: left;
    min-height: 430px;
    border-radius: 1%;

    --s: 250px;   /* the size of the image */
    --b: 8px;     /* the border thickness*/
    --g: 10px;    /* the gap */
    --c: #4ECDC4; /* the color */
    
    width: var(--s);
    /* outline: calc(var(--s)/2) solid #0009; */
    outline-offset: calc(var(--s)/-2);
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.6;

}

.lectures-icon{
    width: 50%;
    opacity: 0.6;
}

.lectures-icon-html{
    width: 35%;
    opacity: 0.7;
}

.lectures-text{
    margin: 3%;
    opacity: 0.7;
    font-family: 'Verdana', sans-serif;
    letter-spacing: .2rem;
}


.calc4:hover {
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
    opacity: 0.9;
    transform: scale(1.1);
}










.img1 {
    --s: 250px;   /* the size of the image */
    --b: 8px;     /* the border thickness*/
    --g: 14px;    /* the gap */
    --c: #00d7c3; /* the color */
    
    width: var(--s);
    aspect-ratio: 1;
    outline: calc(var(--s)/2) solid #0009;
    outline-offset: calc(var(--s)/-2);
    cursor: pointer;
    transition: 0.3s;
}


.calc4:hover, .img1:hover {
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
}
  

  
  
 













#bottom {
    background-color: #5799e0;
    display: flex;
    justify-content: center;
}


.calc3{
    width: calc(33%);
}

.calc2{
    width: calc(50%);
}

.calc2, .calc3, .calc4{
    background-color: #ffffff;
    /* opacity: 0.6; */
    margin: var(--margin);
    padding: var(--padding);
}
  
